@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<BookStore.Models.Books>


@{
    ViewBag.Title = "BookStore-商品列表";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.TextBox("search")
       <input type="submit" value="搜索" />
    }
</div>

@Html.Partial("_BookList")

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { ViewBag.search,page}))

